.categories {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 25px;
}
.categories div {
  margin: 0 10px 10px;
  margin-right: 5px;
  padding: 13px 13px;
  background-color: #f2f2f2;
  border-radius: 50px;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 500ms ease;
}
.categories div:hover {
  border-color: silver;
  transform: scale(1.1);
}
